<h1>Seja bem vindo a nossa biblioteca!</h1>
<p>Escolha na barra de opções acima para qual seção você deseja ir.</p>

<li><%= link_to "Criar um livro", new_book_path %></li>

<li><%= link_to "Criar uma categoria", new_category_path %></li>

<li><%= link_to "Criar uma reserva", new_reservation_path %></li>

<li><%= link_to "Criar um bibliotecario", new_librarian_session_path %></li>
