<p id="notice"><%= notice %></p>

<h1>Books</h1>
<%= search_form_for @q do|f|%>
 <%= f.label :Pesquisa_cont%> 
 <%= f.search_field :name_or_author_name_or_category_name_cont%>
 <%= f.submit%>
 <%end%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stock</th>
      <th>Author</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.stock %></td>
        <td><%= book.author.name %></td>
        <td><%= book.category.name %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
