 <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
          <div class="navbar-header">
            <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Menu", home_index_path %></li>
              <li><%= link_to "Clientes", clients_path %></li>
              <li><%= link_to "Livros", books_path %></li>
              <li><%= link_to "Reserva", reservations_path %></li>
              <li><%= link_to "Categoria", categories_path %></li>
              <li><%= link_to "Autor", authors_path %></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a><%=current_librarian.try(:email)%></a>
              </li>
              <li>
               <%=link_to destroy_librarian_session_path, class:"fa fa-sign-out", :method => 'delete' do %>
                 log out
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>